
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="content">
        <div class="top-image">
            <div class="title-top-img">
                <div class="slogan">
                    <div class="first-string">Зроблено для <b>Вас</b></div>
                    <div class="second-string">Зроблено з <b>Любов'ю</b></div>
                    <div class="third-string">Зроблено в <b>Українi!</b></div>
                </div>
            </div>
            <div class="button-category">
                <div class="vertical">
                    <li><a href="/uk/novinki"><img src="/images/category2/icon-new_uk.png" alt=""></a></li>
                    <li><a href="/uk/catalog/gostinye"><img src="/images/category2/icon-gostin_uk.png" alt=""></a></li>
                    <li><a href="/uk/catalog/spalni"><img src="/images/category2/icon-spalni_uk.png" alt=""></a></li>
                </div>
                <div class="horisontal">
                    <li><a href="/uk/catalog/detskie"><img src="/images/category2/icon-deti_uk.png" alt=""></a></li>
                    <li><a href="/uk/catalog/prihozhie"><img src="/images/category2/icon-shkafi_uk.png" alt=""></a></li>
                    <li><a href="/uk/catalog/kuhni"><img src="/images/category2/icon-kitchens_uk.png" alt=""></a></li>
                    <li><a href="/uk/catalog/modulnye-sistemy"><img src="/images/category2/icon-modul_uk.png" alt=""></a></li>
                    <li><a href="/uk/catalog/matrasy"><img src="/images/category2/icon-matres_uk.png" alt=""></a></li>
                </div>
            </div>
            <div id="slider-wrap">
                <div id="slider">
                    <div class="slide" style="position: absolute; top: 0px; left: 0px; display: none;"><img src="/images/homeImages/m_1470818593.jpg" width="1170" height="715"></div>
                    <div class="slide" style="position: absolute; top: 0px; left: 0px; display: none;"><img src="/images/homeImages/m_1470818617.jpg" width="1170" height="715"></div>
                    <div class="slide" style="position: absolute; top: 0px; left: 0px; display: block;"><img src="/images/homeImages/m_1470818668.jpg" width="1170" height="715"></div>
                </div>
            </div>
        </div>
        <div class="table bottom-images">
            <div class="tr">
                <div class="td" style="text-align: left;">
                    <a href="https://vk.com/svitmeblivua">
                        <img src="/images/blocks/m_1405213476.jpg">
                        <div class="title-bottom-image" style="width: 378px;">
                            <span class="sub-title-bottom">Группа Вконтакте</span>
                        </div>
                    </a>
                </div>
                <div class="td" style="text-align: center;">
                    <a href="https://www.instagram.com/svitmebliv/">
                        <img src="/images/blocks/m_1476862565.jpg">
                        <div class="title-bottom-image" style="width: 378px;">
                            <span class="sub-title-bottom">Страница в Instagram</span>
                        </div>
                    </a>
                </div>
                <div class="td" style="text-align: right;">
                    <a href="https://www.facebook.com/svitmeblivua">
                        <img src="/images/blocks/m_1405213519.jpg">
                        <div class="title-bottom-image" style="width: 378px;">
                            <span class="sub-title-bottom">Бизнес - страница в Facebook</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- content -->
</div>