
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-content">
    <div class="breadcrumbs">
        <a href="/">Головна</a> » <span>Акции</span>
    </div><!-- breadcrumbs -->
    <div class="container">
        <div id="content">

            <div class="page-module-content">
            </div>
        </div><!-- content -->
    </div>
</div>

