
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-line">
    <div class="table">
        <div class="tr">
            <div class="td">
                <div class="logo">&nbsp;&nbsp;</div>
            </div>
            <div class="td">
                <div class="links-for-header">
                    <a id="home" href="/">Главная</a>                    <a href="/page/o-kompanii">О компании</a>                    <a href="/page/uslugi">Услуги</a>                    <a href="/publitations">Публикации</a>                    <a href="/page/akcii">Акции</a>                    <a href="/page/kontakty">Контакты</a>                    <div class="switch-lang-home"><span><a href="/uk">ua</a><a href="/ru">ru</a><a href="/en">en</a></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="top-img-pages">
    <div class="table">
        <div class="tr">
            <div class="td center "><a href="/novinki"><img src="/images/category2/icon-new_ru.png" alt=""></a></div>
            <div class="td center "><a href="/catalog/gostinye"><img src="/images/category2/icon-gostin_ru.png" alt=""></a></div>
            <div class="td center category-active"><a href="/catalog/spalni"><img src="/images/category2/icon-spalni_ru.png" alt=""></a></div>
            <div class="td center "><a href="/catalog/detskie"><img src="/images/category2/icon-deti_ru.png" alt=""></a></div>
            <div class="td center "><a href="/catalog/prihozhie"><img src="/images/category2/icon-shkafi_ru.png" alt=""></a></div>
            <div class="td center "><a href="/catalog/kuhni"><img src="/images/category2/icon-kitchens_ru.png" alt=""></a></div>
            <div class="td center "><a href="/catalog/modulnye-sistemy"><img src="/images/category2/icon-modul_ru.png" alt=""></a></div>
            <div class="td center "><a href="/catalog/matrasy"><img src="/images/category2/icon-matres_ru.png" alt=""></a></div>
        </div>
    </div>
</div>


<div class="home-content">
    <div class="breadcrumbs">
        <a href="/">Главная</a> » <span>Гарнитуры для спальни</span>
    </div><!-- breadcrumbs -->
    <div class="container">
        <div id="content">
            <pre></pre>
            <div class="product-list">
                <h1 style="text-align:center;">Гарнитуры для спальни</h1>
                <div class="table">
                    <div class="tr">
                        <div class="td center" style="width:390px; float: inherit;">
                            <a href="/catalog/spalni/55"><img src="/images/goods/m_55_db2e4.jpg" alt=""></a>
                            <div class="top-img-pages-title">Ванесса</div>
                        </div>
                        <div class="td center" style="width:390px; float: inherit;">
                            <a href="/catalog/spalni/56"><img src="/images/goods/m_56_6e81a.jpg" alt=""></a>
                            <div class="top-img-pages-title">Лаура</div>
                        </div>
                        <div class="td center" style="width:390px; float: inherit;">
                            <a href="/catalog/spalni/57"><img src="/images/goods/m_57_80384.jpg" alt=""></a>
                            <div class="top-img-pages-title">Флоренция</div>
                        </div>
                    </div>
                    <div class="breack"></div>
                    <div class="tr">
                        <div class="td center" style="width:390px; float: inherit;">
                            <a href="/catalog/spalni/58"><img src="/images/goods/m_58_9f5ca.jpg" alt=""></a>
                            <div class="top-img-pages-title">Империя 1</div>
                        </div>
                        <div class="td center" style="width:390px; float: inherit;">
                            <a href="/catalog/spalni/59"><img src="/images/goods/m_59_0fd4b.jpg" alt=""></a>
                            <div class="top-img-pages-title">Венеция</div>
                        </div>
                        <div class="td center" style="width:390px; float: inherit;">
                            <a href="/catalog/spalni/60"><img src="/images/goods/m_60_6f053.jpg" alt=""></a>
                            <div class="top-img-pages-title">Круиз</div>
                        </div>
                    </div>
                    <div class="breack"></div>
                    <div class="tr">
                        <div class="td center" style="width:390px; float: inherit;">
                            <a href="/catalog/spalni/61"><img src="/images/goods/m_61_40371.jpg" alt=""></a>
                            <div class="top-img-pages-title">Элегия</div>
                        </div>
                        <div class="td center" style="width:390px; float: inherit;">
                            <a href="/catalog/spalni/62"><img src="/images/goods/m_62_249b8.jpg" alt=""></a>
                            <div class="top-img-pages-title">Тулуза</div>
                        </div>
                        <div class="td center" style="width:390px; float: inherit;">
                            <a href="/catalog/spalni/63"><img src="/images/goods/m_63_61fd8.jpg" alt=""></a>
                            <div class="top-img-pages-title">Элегант</div>
                        </div>
                    </div>
                    <div class="breack"></div>
                    <div class="tr">
                        <div class="td center" style="width:390px; float: inherit;">
                            <a href="/catalog/spalni/65"><img src="/images/goods/m_65_21556.jpg" alt=""></a>
                            <div class="top-img-pages-title">Антонина глянцевая</div>
                        </div>
                        <div class="td center" style="width:390px; float: inherit;">
                            <a href="/catalog/spalni/66"><img src="/images/goods/m_66_3fcee.jpg" alt=""></a>
                            <div class="top-img-pages-title">Антонина</div>
                        </div>
                        <div class="td center" style="width:390px; float: inherit;">
                            <a href="/catalog/spalni/67"><img src="/images/goods/m_67_6a393.jpg" alt=""></a>
                            <div class="top-img-pages-title">Ника</div>
                        </div>
                    </div>
                    <div class="breack"></div>
                </div>
            </div>
            <ul class="pagination" id="yw0">
                <li class="first hidden"><a href="/catalog/spalni"></a></li>
                <a href="/catalog/spalni">
                </a>
                <li class="previous hidden"><a href="/catalog/spalni"></a><a href="/catalog/spalni">Назад</a></li>
                <li class="page active"><a href="/catalog/spalni">1</a></li>
                <li class="page"><a href="/catalog/spalni?page=2">2</a></li>
                <li class="page"><a href="/catalog/spalni?page=3">3</a></li>
                <li class="page"><a href="/catalog/spalni?page=4">4</a></li>
                <li class="next"><a href="/catalog/spalni?page=2">Вперед</a></li>
                <li class="last"><a href="/catalog/spalni?page=4"></a></li>
            </ul><a href="/catalog/spalni?page=4">
            </a>
        </div><!-- content --><a href="/catalog/spalni?page=4">
        </a>
    </div><a href="/catalog/spalni?page=4">
    </a>
</div><a href="/catalog/spalni?page=4">
</a><div class="footer">
    <a href="/catalog/spalni?page=4">
    </a><div class="table">
        <a href="/catalog/spalni?page=4">
        </a><div class="tr">
            <a href="/catalog/spalni?page=4">
            </a><div class="td">
                <a href="/catalog/spalni?page=4">
                </a><ul>
                    <a href="/catalog/spalni?page=4">
                        <p class="footer-title-info">КАТАЛОГ</p>
                    </a>
                    <li><a href="/catalog/spalni?page=4">› </a><a href="/novinki">Новинки</a></li>
                    <li>› <a href="/catalog/gostinye">Гостинные</a></li>
                    <li>› <a href="/catalog/spalni">Спальни</a></li>
                    <li>› <a href="/catalog/detskie">Детские</a></li>
                    <li>› <a href="/catalog/prihozhie">Прихожие и шкафы-купе</a></li>
                    <li>› <a href="/catalog/kuhni">Кухни</a></li>
                    <li>› <a href="/catalog/modulnye-sistemy">Модульные системы</a></li>
                    <li>› <a href="/catalog/matrasy">Матрасы</a></li>
                </ul>
            </div>
            <div class="td">
                <ul>
                    <p class="footer-title-info">ИНФОРМАЦИЯ</p>
                    <li>› <a href="/">Главная</a></li>
                    <li>› <a href="/page/o-kompanii">О компании</a></li>
                    <li>› <a href="/page/uslugi">Услуги</a></li>
                    <li>› <a href="/publitations">Публикации</a></li>
                </ul>
            </div>
            <div class="td">
                <ul>
                    <p class="footer-title-info">СЛЕДИ ЗА НАМИ</p>
                    <li>› <a href="http://facebook.com">Facebook</a></li>
                    <li>› <a href="#">Twitter</a></li>
                    <li>› <a href="#">Vkontakte</a></li>
                </ul>
            </div>
            <div class="td" style="text-align: right; margin-right: -15px;">
                <div class="footer-contacts">
                    <p>КОНТАКТЫ</p>
                    ТМ "Світ меблів"<br>
                    ул. Полевая, 2, с. Паланка<br>
                    Уманский р-н, Черкасская обл.<br>
                    Украина, 20340<br>
                    тел.: +38(04744)4-86-98, 4-86-96<br>
                    info@svit-mebliv.ua<br>
                    <a href="mailto:sekretar2@svit-mebliv.ua" target="_top">sekretar2@svit-mebliv.ua</a>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        .copy {
            float: right;
            color: #fff;
            margin-top: -10px;
        }

            .copy a {
                color: #fff;
            }
    </style>
    <div class="copy"><a href="http://goresh.net">Создание сайтов</a> - Goresh</div>
</div>

