
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-content">
    <div class="breadcrumbs">
        <a href="/">Головна</a> » <span>Контакты</span>
    </div><!-- breadcrumbs -->
    <div class="container">
        <div id="content">

            <div class="page-module-content">
                <h2>ТМ "Світ Меблів"</h2>

                <p><span style="font-size:16px">ул. Польова, 2, с. Паланка Уманський р-н, Черкаська обл.,Україна, 20340 </span></p>

                <p><span style="font-size:16px">sekretar2@svit-mebliv.ua </span></p>

                <p><strong><span style="font-size:16px">Тел.: +38(04744)4-86-98, 4-86-96</span></strong></p>
            </div>
        </div><!-- content -->
    </div>
</div>

