
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-content">
    <div class="breadcrumbs">
        <a href="/">Головна</a> » <span>О компании</span>
    </div><!-- breadcrumbs -->
    <div class="container">
        <div id="content">

            <div class="page-module-content">
                <p style="text-align:right"><img alt="" src="/Images/pub_images/_DSC1620.JPG" style="float:left; height:336px; width:250px"><em><span style="font-size:16px"><span style="font-family:tahoma,geneva,sans-serif"><strong>"Великий успіх складається з безлічі передбачених &nbsp;і обдуманих дрібниць"</strong></span></span></em></p>
                <p style="text-align:right"><em><span style="font-size:16px"><strong><span style="font-family:tahoma,geneva,sans-serif">&nbsp;Горацій</span></strong></span></em></p>
                <p style="text-align:justify"><span style="color:#000000"><span style="font-family:tahoma,geneva,sans-serif"><span style="font-size:16px">На сьогоднішній день фабрика «Світ меблів&nbsp;– Україна» є&nbsp;однією&nbsp;з найбільших&nbsp;компаній в меблевій&nbsp;галузі&nbsp;України. Високий рівень&nbsp;професіоналізму&nbsp;та&nbsp;творчого потенціалу&nbsp; команди&nbsp; є &nbsp;потужним &nbsp;двигуном &nbsp;розвитку&nbsp; та &nbsp;вдосконалення&nbsp;компанії.</span></span></span></p>
                <p style="text-align:justify"><span style="color:#000000"><span style="font-family:tahoma,geneva,sans-serif"><span style="font-size:16px">Меблева &nbsp;фабрика була заснована&nbsp; в&nbsp; 2001 році. &nbsp;Все починалось&nbsp;з&nbsp;одного маленького&nbsp;цеха&nbsp;та&nbsp;величезного&nbsp;ентузіазму засновників. Сьогодні&nbsp;виробничі&nbsp; потужності&nbsp;розвернуті&nbsp;на території&nbsp;більш ніж 9га. На фабриці&nbsp;організований повний цикл виробництва.&nbsp;Три повноцінних&nbsp;цеха &nbsp;функціонують&nbsp;на виготовлення&nbsp;корпусних&nbsp;меблів. В 2013 &nbsp;році&nbsp;була освоєна технологія та&nbsp;запущено виробництво&nbsp;ортопедичних&nbsp;матраців. Вся продукція компанії&nbsp;випускається під ТМ «СМ».&nbsp; &nbsp;Проводиться постійна&nbsp;модернізація&nbsp; технологічної&nbsp;та&nbsp;виробничої&nbsp;бази.&nbsp; Також, ведеться постійний контроль якості, матеріалів та&nbsp;зборки продукції. Матеріали, &nbsp;які &nbsp;використовуються &nbsp;при &nbsp;виготовленні&nbsp;меблів, є&nbsp;екологічно&nbsp;чистими і&nbsp;відповідають&nbsp;всім нормам, що підтверджується&nbsp;сертифікатами.</span></span></span></p>
                <p style="text-align: right;"><span style="color:#000000"><strong><em><img alt="" src="/Images/pub_images/_DSC1624.JPG" style="float:right; height:235px; width:250px"></em></strong></span></p>
                <p style="text-align:justify"><span style="color:#000000"><span style="font-family:tahoma,geneva,sans-serif"><span style="font-size:16px">Тримаючи&nbsp;руку на пульсі&nbsp;тенденцій меблевої&nbsp;індустрії, компанія &nbsp;динамічно впроваджує &nbsp;нові&nbsp;технології&nbsp;та&nbsp;випускає&nbsp;новинки, які&nbsp;відповідають&nbsp;всім вимогам&nbsp;сучасного&nbsp;покупця. Завдяки&nbsp;цьому, ТМ «СМ» знають та поважають&nbsp;не тільки&nbsp;на батьківщині, але&nbsp;й&nbsp;на території&nbsp;близького та&nbsp;дальнього зарубіжжя. &nbsp;Гарно&nbsp;побудована &nbsp; дилерська &nbsp; структура&nbsp;дозволяє&nbsp;нашим клієнтам придбати&nbsp;меблі&nbsp; ТМ «СМ» в будь-якому&nbsp;регіоні&nbsp; України, а також в таких країнах&nbsp;як&nbsp;Казахстан, Грузія, Росія, Молдова, Білорусь, Литва,&nbsp;Латвія, Естонія, Болгарія, Туркменістан, Таджикистан, Киргизстан.&nbsp;</span></span></span></p>
                <p style="text-align:justify"><span style="color:#000000"><span style="font-family:tahoma,geneva,sans-serif"><span style="font-size:16px">Продукція ТМ «СМ» має&nbsp;дипломи&nbsp;і&nbsp;нагороди&nbsp;міжнародних виставок і&nbsp;конкурсів, що ще&nbsp;раз&nbsp; підтверджує, що безліч&nbsp;дрібниць&nbsp;були&nbsp;передбачені&nbsp;і обдумані&nbsp;вірно і&nbsp;призводять до&nbsp;успішних&nbsp;рішень. &nbsp;</span></span></span></p>               
                <h2 style="margin-left:-21.3pt; text-align:center">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="font-family:tahoma,geneva,sans-serif">&nbsp; Наші&nbsp;дорогі&nbsp;клієнти! Все&nbsp;що зроблено&nbsp;під ТМ «СМ»…</span></h2>

                <p style="margin-left:-63.8pt; text-align:right">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-family:tahoma,geneva,sans-serif">
                        <span style="color:rgb(0, 0, 0)">
                            &nbsp; &nbsp;…зроблено <strong>для Вас</strong><br>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; зроблено з<strong> Любов'ю</strong> &nbsp; &nbsp;&nbsp;<br>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; зроблено в <strong>Україні</strong> &nbsp;
                        </span>
                    </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </p>
            </div>
        </div><!-- content -->
    </div>
</div>