
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="publication-list">

    <tbody>
        <tr>
            <td class="pub-time"><a href="/uk/pub/novinki-2014-goda">14.07.2014</a></td>
            <td class="pub-title"><a href="/uk/pub/novinki-2014-goda">Новинки 2014 года</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/luxury-mttresses">01.08.2014</a></td>
            <td class="pub-title"><a href="/uk/pub/luxury-mttresses">Роскошные матрасы</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/matraz-catalog-ukr">01.08.2014</a></td>
            <td class="pub-title"><a href="/uk/pub/matraz-catalog-ukr">Каталог матрасов UKR</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/sm-catalog-2014-eng-rus">01.08.2014</a></td>
            <td class="pub-title"><a href="/uk/pub/sm-catalog-2014-eng-rus">Каталог 2014 (eng, rus)</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/sm-catalog-2014-ukr">01.08.2014</a></td>
            <td class="pub-title"><a href="/uk/pub/sm-catalog-2014-ukr">Каталог 2014 (ukr)</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/kak_vibrat_kuhonnuyu_mebel">31.10.2016</a></td>
            <td class="pub-title"><a href="/uk/pub/kak_vibrat_kuhonnuyu_mebel">Простые советы о том, как выбрать кухонную мебель</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/bidermejer_v_interere">03.11.2016</a></td>
            <td class="pub-title"><a href="/uk/pub/bidermejer_v_interere">Интерьер в стиле бидермейер - изящный и простой</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/chernaya_mebel_v_interere">04.11.2016</a></td>
            <td class="pub-title"><a href="/uk/pub/chernaya_mebel_v_interere">Черная мебель в интерьере: строгая роскошь</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/kak_vibrat_ortopedicheskiy_matras">17.11.2016</a></td>
            <td class="pub-title"><a href="/uk/pub/kak_vibrat_ortopedicheskiy_matras">Как выбрать ортопедический матрас:основные акценты</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/kak_vibrat_detskuyu_mebel">10.11.2016</a></td>
            <td class="pub-title"><a href="/uk/pub/kak_vibrat_detskuyu_mebel">Как выбрать детскую мебель? Секреты и советы </a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/pyat_prichin_zakazat_detskuyu_mebel_u_nas">18.11.2016</a></td>
            <td class="pub-title"><a href="/uk/pub/pyat_prichin_zakazat_detskuyu_mebel_u_nas">5 причин заказать детскую мебель от "Світ Меблів"</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/shkaf-kupe-v-detskuyu-komnatu">05.12.2016</a></td>
            <td class="pub-title"><a href="/uk/pub/shkaf-kupe-v-detskuyu-komnatu">Шкаф - купе в детскую комнату: как выбрать?</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/interer_malenkoj_prihozhei">06.12.2016</a></td>
            <td class="pub-title"><a href="/uk/pub/interer_malenkoj_prihozhei">Интерьер маленькой прихожей</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/dizain-gostinoi-s-erkerom-v-dome">13.12.2016</a></td>
            <td class="pub-title"><a href="/uk/pub/dizain-gostinoi-s-erkerom-v-dome">Дизайн гостиной с эркером в доме</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/pop-art-v-dizaine-interera">14.12.2016</a></td>
            <td class="pub-title"><a href="/uk/pub/pop-art-v-dizaine-interera">Назад к 60-м или поп-арт как основа интерьера </a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/kak-uhazhivat-za-korpusnoy-mebelyu">20.12.2016</a></td>
            <td class="pub-title"><a href="/uk/pub/kak-uhazhivat-za-korpusnoy-mebelyu">Как ухаживать за корпусной мебелью?</a></td>
        </tr>
        <tr>
            <td class="pub-time"><a href="/uk/pub/kuhnya-v-salatovom-cvete">13.01.2017</a></td>
            <td class="pub-title"><a href="/uk/pub/kuhnya-v-salatovom-cvete">Дизайн кухни в салатовом цвете</a></td>
        </tr>

    </tbody>
</table>

